# Data Cleaning

Notes by Dr. Chris North, Virginia Tech

Data files:  Counties2010-dirty.csv

References:
* Pandas for Everyone, Chapters 5,6,7 
* Python for Data Analysis, Chapter 7


### Goal
* Clean up the data values and table structure in preparation for analytics

### Warnings:
* Good idea to compare cleaned data to original dirty data
* Data cleaning decisions have implications. Document what you did.

In [1]:
###
import pandas
import numpy

In [2]:
###
dirty = pandas.read_csv("Counties2010-dirty.csv")

## Finding and cleaning dirty data values

### How to find dirty data?
* data types
* data distributions, summary stats
* numpy.NaN

### How to clean dirty data?
* missing data:  set to NaN
* invalid data:  set to NaN
* extreme data:  set to NaN
* wrong data types:  convert, e.g. int("47")
* wrong data units:  math, e.g 1GB == 1,000,000,000b
* duplicated data:  eliminate
* messy categories:  standardize, e.g. "VA"&rarr;"Virginia"
* messy text:  whitespace, punctuation, unusual chars, emojis

In [3]:
dirty

,Name,Population,Pop2000,IncomePerCapita,PercentCollegeGrad,MedianRent,CommuteTime,LandArea
0,"Aleutians East, AK",3141,2697.0,28942,12.5,$475,4.5,6981.94
1,"Aleutians West, AK",5561,5465.0,33318,8.5,$1050,4.9,4390.28
2,"Anchorage, AK",291826,260283.0,46243,32.3,$921,18.0,1704.68
3,"Bethel, AK",17013,16006.0,26990,14.4,$845,6.7,40570.00
4,"Bristol Bay, AK",997,1258.0,48747,14.2,$687,9.2,503.84
...,...,...,...,...,...,...,...,...
3141,"Teton, WY",21294,18251.0,132728,49.5,$870,15.9,3995.38
3142,"Uinta, WY",21118,19742.0,42621,17.3,$437,20.6,2081.26
3143,"Washakie, WY",8533,8289.0,40781,24.5,$369,12.3,2238.55
3144,"Weston, WY",7208,6644.0,41992,19.3,$388,25.3,2398.09
3145,"District of Columbia, DC",601723,572059.0,62484,47.1,$882,29.4,61.05

In [4]:
dirty.dtypes

Name                   object
Population              int64
Pop2000               float64
IncomePerCapita         int64
PercentCollegeGrad    float64
MedianRent             object
CommuteTime           float64
LandArea              float64
dtype: object

In [5]:
clean = dirty.copy()

In [6]:
dirty.MedianRent

0        $475
1       $1050
2        $921
3        $845
4        $687
        ...
3141     $870
3142     $437
3143     $369
3144     $388
3145     $882
Name: MedianRent, Length: 3146, dtype: object

In [7]:
dirty.MedianRent.map(type).value_counts()

<class 'str'>    3146
Name: MedianRent, dtype: int64

In [8]:
# dirty.MedianRent.map(lambda s:s[1:])
clean.MedianRent = dirty.MedianRent.map(lambda s: int(s.replace('$', '')))
clean

,Name,Population,Pop2000,IncomePerCapita,PercentCollegeGrad,MedianRent,CommuteTime,LandArea
0,"Aleutians East, AK",3141,2697.0,28942,12.5,475,4.5,6981.94
1,"Aleutians West, AK",5561,5465.0,33318,8.5,1050,4.9,4390.28
2,"Anchorage, AK",291826,260283.0,46243,32.3,921,18.0,1704.68
3,"Bethel, AK",17013,16006.0,26990,14.4,845,6.7,40570.00
4,"Bristol Bay, AK",997,1258.0,48747,14.2,687,9.2,503.84
...,...,...,...,...,...,...,...,...
3141,"Teton, WY",21294,18251.0,132728,49.5,870,15.9,3995.38
3142,"Uinta, WY",21118,19742.0,42621,17.3,437,20.6,2081.26
3143,"Washakie, WY",8533,8289.0,40781,24.5,369,12.3,2238.55
3144,"Weston, WY",7208,6644.0,41992,19.3,388,25.3,2398.09
3145,"District of Columbia, DC",601723,572059.0,62484,47.1,882,29.4,61.05

In [9]:
clean.describe()

,Population,Pop2000,IncomePerCapita,PercentCollegeGrad,MedianRent,CommuteTime,LandArea
count,3.146000e+03,3.141000e+03,3146.000000,3146.000000,3146.000000,3146.000000,3146.000000
mean,9.813908e+04,8.959628e+04,30019.454228,18.685251,453.595041,22.597934,1122.665928
std,3.127666e+05,2.924622e+05,8662.018820,8.524617,183.416560,5.546780,3609.862020
min,0.000000e+00,6.700000e+01,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.106600e+04,1.120600e+04,25343.750000,12.900000,332.000000,18.900000,430.610000
50%,2.583700e+04,2.459500e+04,28903.000000,16.600000,409.000000,22.300000,615.380000
75%,6.652800e+04,6.175800e+04,33363.250000,22.000000,523.000000,26.100000,923.772500
max,9.818605e+06,9.519338e+06,132728.000000,69.500000,2001.000000,42.500000,145504.790000

In [10]:
dirty[dirty.IncomePerCapita == 0]

,Name,Population,Pop2000,IncomePerCapita,PercentCollegeGrad,MedianRent,CommuteTime,LandArea
22,"Skagway, AK",968,NaN,0,31.0,$852,4.4,452.33
26,"Wrangell, AK",2369,NaN,0,14.8,$596,14.3,2541.48
547,"Kalawao, HI",90,147.0,0,25.6,$2001,5.7,11.99
1653,"Yellowstone National Park, MT",0,NaN,0,0.0,$0,0.0,0.00
2817,"Bedford City, VA",6222,6299.0,0,20.5,$450,18.5,6.88
2820,"Bristol, VA",17835,17367.0,0,18.9,$395,17.8,13.01
2824,"Buena Vista, VA",6650,6349.0,0,14.8,$486,15.1,6.70
2830,"Charlottesville, VA",43475,45049.0,0,43.3,$737,15.9,10.24
2834,"Clifton Forge, VA",0,4289.0,0,0.0,$0,0.0,0.00
2835,"Colonial Heights, VA",17411,16897.0,0,20.2,$674,21.8,7.52
2836,"Covington, VA",5961,6303.0,0,9.8,$366,17.6,5.47
2840,"Danville, VA",43055,48411.0,0,15.7,$379,17.8,42.93
2843,"Emporia, VA",5927,5665.0,0,15.9,$382,15.0,6.89
2846,"Fairfax City, VA",22565,21498.0,0,50.9,$1356,31.1,6.24
2847,"Falls Church, VA",12332,10377.0,0,69.5,$1247,26.7,2.00
2852,"Franklin City, VA",8582,8346.0,0,21.0,$502,22.5,8.21
2854,"Fredericksburg, VA",24286,19279.0,0,31.5,$862,27.2,10.44
2855,"Galax, VA",7042,6837.0,0,13.2,$296,27.4,8.24
2865,"Harrisonburg, VA",48914,40468.0,0,31.8,$641,15.5,17.42
2869,"Hopewell, VA",22591,22354.0,0,11.2,$539,22.0,10.28
2877,"Lexington, VA",7042,6867.0,0,47.6,$560,13.1,2.50
2881,"Lynchburg, VA",75568,65269.0,0,28.1,$491,16.4,49.13
2883,"Manassas, VA",37821,35135.0,0,27.7,$1083,32.0,9.88
2884,"Manassas Park, VA",14273,10290.0,0,24.8,$1193,40.6,2.53
2885,"Martinsville, VA",13821,15416.0,0,17.8,$385,16.9,10.96
2896,"Norton, VA",3958,3904.0,0,19.1,$387,15.9,7.48
2901,"Petersburg, VA",32420,33740.0,0,15.9,$579,20.9,22.93
2903,"Poquoson, VA",12150,11566.0,0,34.2,$926,22.5,15.32
2910,"Radford, VA",16408,15859.0,0,30.7,$557,17.5,9.87
2919,"Salem, VA",24802,24747.0,0,26.3,$583,17.7,14.44
2923,"South Boston, VA",0,NaN,0,0.0,$0,0.0,0.00
2927,"Staunton, VA",23746,23853.0,0,25.9,$510,19.5,19.98
2935,"Waynesboro, VA",21006,19520.0,0,21.7,$490,18.9,15.04
2937,"Williamsburg, VA",14068,11998.0,0,48.3,$819,18.8,9.02
2938,"Winchester, VA",26203,23585.0,0,28.1,$717,20.4,9.23

In [11]:
# dirty.IncomePerCapita.replace(0, numpy.NaN)

clean.IncomePerCapita = dirty.IncomePerCapita.mask(
    (dirty.Name.str.endswith('VA')) & (dirty.IncomePerCapita == 0), numpy.NaN)

In [12]:
clean[dirty.IncomePerCapita == 0]

,Name,Population,Pop2000,IncomePerCapita,PercentCollegeGrad,MedianRent,CommuteTime,LandArea
22,"Skagway, AK",968,NaN,0.0,31.0,852,4.4,452.33
26,"Wrangell, AK",2369,NaN,0.0,14.8,596,14.3,2541.48
547,"Kalawao, HI",90,147.0,0.0,25.6,2001,5.7,11.99
1653,"Yellowstone National Park, MT",0,NaN,0.0,0.0,0,0.0,0.00
2817,"Bedford City, VA",6222,6299.0,NaN,20.5,450,18.5,6.88
2820,"Bristol, VA",17835,17367.0,NaN,18.9,395,17.8,13.01
2824,"Buena Vista, VA",6650,6349.0,NaN,14.8,486,15.1,6.70
2830,"Charlottesville, VA",43475,45049.0,NaN,43.3,737,15.9,10.24
2834,"Clifton Forge, VA",0,4289.0,NaN,0.0,0,0.0,0.00
2835,"Colonial Heights, VA",17411,16897.0,NaN,20.2,674,21.8,7.52
2836,"Covington, VA",5961,6303.0,NaN,9.8,366,17.6,5.47
2840,"Danville, VA",43055,48411.0,NaN,15.7,379,17.8,42.93
2843,"Emporia, VA",5927,5665.0,NaN,15.9,382,15.0,6.89
2846,"Fairfax City, VA",22565,21498.0,NaN,50.9,1356,31.1,6.24
2847,"Falls Church, VA",12332,10377.0,NaN,69.5,1247,26.7,2.00
2852,"Franklin City, VA",8582,8346.0,NaN,21.0,502,22.5,8.21
2854,"Fredericksburg, VA",24286,19279.0,NaN,31.5,862,27.2,10.44
2855,"Galax, VA",7042,6837.0,NaN,13.2,296,27.4,8.24
2865,"Harrisonburg, VA",48914,40468.0,NaN,31.8,641,15.5,17.42
2869,"Hopewell, VA",22591,22354.0,NaN,11.2,539,22.0,10.28
2877,"Lexington, VA",7042,6867.0,NaN,47.6,560,13.1,2.50
2881,"Lynchburg, VA",75568,65269.0,NaN,28.1,491,16.4,49.13
2883,"Manassas, VA",37821,35135.0,NaN,27.7,1083,32.0,9.88
2884,"Manassas Park, VA",14273,10290.0,NaN,24.8,1193,40.6,2.53
2885,"Martinsville, VA",13821,15416.0,NaN,17.8,385,16.9,10.96
2896,"Norton, VA",3958,3904.0,NaN,19.1,387,15.9,7.48
2901,"Petersburg, VA",32420,33740.0,NaN,15.9,579,20.9,22.93
2903,"Poquoson, VA",12150,11566.0,NaN,34.2,926,22.5,15.32
2910,"Radford, VA",16408,15859.0,NaN,30.7,557,17.5,9.87
2919,"Salem, VA",24802,24747.0,NaN,26.3,583,17.7,14.44
2923,"South Boston, VA",0,NaN,NaN,0.0,0,0.0,0.00
2927,"Staunton, VA",23746,23853.0,NaN,25.9,510,19.5,19.98
2935,"Waynesboro, VA",21006,19520.0,NaN,21.7,490,18.9,15.04
2937,"Williamsburg, VA",14068,11998.0,NaN,48.3,819,18.8,9.02
2938,"Winchester, VA",26203,23585.0,NaN,28.1,717,20.4,9.23

In [13]:
dirty.IncomePerCapita.mean(), clean.IncomePerCapita.mean()

(30019.45422759059, 30318.203210272874)

In [14]:
clean.IncomePerCapita.mean(skipna=False)

nan

## Missing data values

### How to handle missing data?
* NaN
* find missing data:  `isnull()`, `notnull()`
* compute over missing data:  e.g. `sum(skipna=True)`
* remove rows with missing data:  `dropna()`
* impute replacement value:  `fillna()`

### What to impute upon missing data?
Replace NaNs with:
* fixed value, e.g. 0
* reduce transform on the column:  mean, median
    * make use of other columns, filter before reduce (e.g. mean of data in the same category)
* regression with some other column (e.g. PercentCollegeGrad -> IncomePerCapita)
* sample from the column distribution, e.g. value frequencies, data simulation
* similar row, multi-dimensional nearest neighbor
* https://en.wikipedia.org/wiki/Imputation_(statistics)

In [26]:
clean.isnull().any()

Name                  False
Population            False
Pop2000                True
IncomePerCapita        True
PercentCollegeGrad    False
MedianRent            False
CommuteTime           False
LandArea              False
County                False
State                 False
dtype: bool

In [16]:
impute = clean.copy()

In [17]:
impute.IncomePerCapita = clean.IncomePerCapita.fillna(clean.IncomePerCapita.mean())

In [27]:
impute[clean.IncomePerCapita.isnull()]

,Name,Population,Pop2000,IncomePerCapita,PercentCollegeGrad,MedianRent,CommuteTime,LandArea
2817,"Bedford City, VA",6222,6299.0,32781.952381,20.5,450,18.5,6.88
2820,"Bristol, VA",17835,17367.0,32781.952381,18.9,395,17.8,13.01
2824,"Buena Vista, VA",6650,6349.0,32781.952381,14.8,486,15.1,6.70
2830,"Charlottesville, VA",43475,45049.0,32781.952381,43.3,737,15.9,10.24
2834,"Clifton Forge, VA",0,4289.0,32781.952381,0.0,0,0.0,0.00
2835,"Colonial Heights, VA",17411,16897.0,32781.952381,20.2,674,21.8,7.52
2836,"Covington, VA",5961,6303.0,32781.952381,9.8,366,17.6,5.47
2840,"Danville, VA",43055,48411.0,32781.952381,15.7,379,17.8,42.93
2843,"Emporia, VA",5927,5665.0,32781.952381,15.9,382,15.0,6.89
2846,"Fairfax City, VA",22565,21498.0,32781.952381,50.9,1356,31.1,6.24
2847,"Falls Church, VA",12332,10377.0,32781.952381,69.5,1247,26.7,2.00
2852,"Franklin City, VA",8582,8346.0,32781.952381,21.0,502,22.5,8.21
2854,"Fredericksburg, VA",24286,19279.0,32781.952381,31.5,862,27.2,10.44
2855,"Galax, VA",7042,6837.0,32781.952381,13.2,296,27.4,8.24
2865,"Harrisonburg, VA",48914,40468.0,32781.952381,31.8,641,15.5,17.42
2869,"Hopewell, VA",22591,22354.0,32781.952381,11.2,539,22.0,10.28
2877,"Lexington, VA",7042,6867.0,32781.952381,47.6,560,13.1,2.50
2881,"Lynchburg, VA",75568,65269.0,32781.952381,28.1,491,16.4,49.13
2883,"Manassas, VA",37821,35135.0,32781.952381,27.7,1083,32.0,9.88
2884,"Manassas Park, VA",14273,10290.0,32781.952381,24.8,1193,40.6,2.53
2885,"Martinsville, VA",13821,15416.0,32781.952381,17.8,385,16.9,10.96
2896,"Norton, VA",3958,3904.0,32781.952381,19.1,387,15.9,7.48
2901,"Petersburg, VA",32420,33740.0,32781.952381,15.9,579,20.9,22.93
2903,"Poquoson, VA",12150,11566.0,32781.952381,34.2,926,22.5,15.32
2910,"Radford, VA",16408,15859.0,32781.952381,30.7,557,17.5,9.87
2919,"Salem, VA",24802,24747.0,32781.952381,26.3,583,17.7,14.44
2923,"South Boston, VA",0,NaN,32781.952381,0.0,0,0.0,0.00
2927,"Staunton, VA",23746,23853.0,32781.952381,25.9,510,19.5,19.98
2935,"Waynesboro, VA",21006,19520.0,32781.952381,21.7,490,18.9,15.04
2937,"Williamsburg, VA",14068,11998.0,32781.952381,48.3,819,18.8,9.02
2938,"Winchester, VA",26203,23585.0,32781.952381,28.1,717,20.4,9.23

In [19]:
impute.IncomePerCapita.mean(), clean.IncomePerCapita.mean()

(30318.203210272935, 30318.203210272874)

In [20]:
impute.IncomePerCapita = clean.IncomePerCapita.fillna(
    clean[clean.Name.str.endswith('VA')].IncomePerCapita.mean())

In [21]:
impute.IncomePerCapita.mean(), clean.IncomePerCapita.mean()

(30342.48045893503, 30318.203210272874)

In [22]:
impute[clean.IncomePerCapita.isnull()]

,Name,Population,Pop2000,IncomePerCapita,PercentCollegeGrad,MedianRent,CommuteTime,LandArea
2817,"Bedford City, VA",6222,6299.0,32781.952381,20.5,450,18.5,6.88
2820,"Bristol, VA",17835,17367.0,32781.952381,18.9,395,17.8,13.01
2824,"Buena Vista, VA",6650,6349.0,32781.952381,14.8,486,15.1,6.70
2830,"Charlottesville, VA",43475,45049.0,32781.952381,43.3,737,15.9,10.24
2834,"Clifton Forge, VA",0,4289.0,32781.952381,0.0,0,0.0,0.00
2835,"Colonial Heights, VA",17411,16897.0,32781.952381,20.2,674,21.8,7.52
2836,"Covington, VA",5961,6303.0,32781.952381,9.8,366,17.6,5.47
2840,"Danville, VA",43055,48411.0,32781.952381,15.7,379,17.8,42.93
2843,"Emporia, VA",5927,5665.0,32781.952381,15.9,382,15.0,6.89
2846,"Fairfax City, VA",22565,21498.0,32781.952381,50.9,1356,31.1,6.24
2847,"Falls Church, VA",12332,10377.0,32781.952381,69.5,1247,26.7,2.00
2852,"Franklin City, VA",8582,8346.0,32781.952381,21.0,502,22.5,8.21
2854,"Fredericksburg, VA",24286,19279.0,32781.952381,31.5,862,27.2,10.44
2855,"Galax, VA",7042,6837.0,32781.952381,13.2,296,27.4,8.24
2865,"Harrisonburg, VA",48914,40468.0,32781.952381,31.8,641,15.5,17.42
2869,"Hopewell, VA",22591,22354.0,32781.952381,11.2,539,22.0,10.28
2877,"Lexington, VA",7042,6867.0,32781.952381,47.6,560,13.1,2.50
2881,"Lynchburg, VA",75568,65269.0,32781.952381,28.1,491,16.4,49.13
2883,"Manassas, VA",37821,35135.0,32781.952381,27.7,1083,32.0,9.88
2884,"Manassas Park, VA",14273,10290.0,32781.952381,24.8,1193,40.6,2.53
2885,"Martinsville, VA",13821,15416.0,32781.952381,17.8,385,16.9,10.96
2896,"Norton, VA",3958,3904.0,32781.952381,19.1,387,15.9,7.48
2901,"Petersburg, VA",32420,33740.0,32781.952381,15.9,579,20.9,22.93
2903,"Poquoson, VA",12150,11566.0,32781.952381,34.2,926,22.5,15.32
2910,"Radford, VA",16408,15859.0,32781.952381,30.7,557,17.5,9.87
2919,"Salem, VA",24802,24747.0,32781.952381,26.3,583,17.7,14.44
2923,"South Boston, VA",0,NaN,32781.952381,0.0,0,0.0,0.00
2927,"Staunton, VA",23746,23853.0,32781.952381,25.9,510,19.5,19.98
2935,"Waynesboro, VA",21006,19520.0,32781.952381,21.7,490,18.9,15.04
2937,"Williamsburg, VA",14068,11998.0,32781.952381,48.3,819,18.8,9.02
2938,"Winchester, VA",26203,23585.0,32781.952381,28.1,717,20.4,9.23

## "Tidy" data table
### How to clean dirty table structure?

* Variables in columns, observations in rows, observational unit as table
* Common problems:
    * Column headers are values, not variable names (stack() and unstack()), e.g. https://docs.google.com/a/vt.edu/spreadsheets/d/1xYQ08p5llwPR3ZK6h900LDd-J7WuXCv_FoPlksrj-eA/pub
    * Multiple variables are stored in one column.
    * Variables are stored in both rows and columns (crosstabs).
    * Multiple types of observational units are stored in the same table (joined tables).
    * A single observational unit is stored in multiple tables (split tables), e.g. https://www.gapminder.org/data/
* Tidy Data by Hadley Wickham, https://www.jstatsoft.org/article/view/v059i10/v59i10.pdf

In [23]:
clean['County'] = dirty.Name.map(lambda s: s.split(', ')[0])
clean['State'] = dirty.Name.map(lambda s: s.split(', ')[1])

In [24]:
clean

,Name,Population,Pop2000,IncomePerCapita,PercentCollegeGrad,MedianRent,CommuteTime,LandArea,County,State
0,"Aleutians East, AK",3141,2697.0,28942.0,12.5,475,4.5,6981.94,Aleutians East,AK
1,"Aleutians West, AK",5561,5465.0,33318.0,8.5,1050,4.9,4390.28,Aleutians West,AK
2,"Anchorage, AK",291826,260283.0,46243.0,32.3,921,18.0,1704.68,Anchorage,AK
3,"Bethel, AK",17013,16006.0,26990.0,14.4,845,6.7,40570.00,Bethel,AK
4,"Bristol Bay, AK",997,1258.0,48747.0,14.2,687,9.2,503.84,Bristol Bay,AK
...,...,...,...,...,...,...,...,...,...,...
3141,"Teton, WY",21294,18251.0,132728.0,49.5,870,15.9,3995.38,Teton,WY
3142,"Uinta, WY",21118,19742.0,42621.0,17.3,437,20.6,2081.26,Uinta,WY
3143,"Washakie, WY",8533,8289.0,40781.0,24.5,369,12.3,2238.55,Washakie,WY
3144,"Weston, WY",7208,6644.0,41992.0,19.3,388,25.3,2398.09,Weston,WY
3145,"District of Columbia, DC",601723,572059.0,62484.0,47.1,882,29.4,61.05,District of Columbia,DC